<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" href="build/bootstrap.min.css"/>
    <script src="build/react.js"></script>
    <script src="build/JSXTransformer.js"></script>
    <script src="build/jquery.min.js"></script>
    <script src="build/marked.min.js"></script>
    <script type="text/jsx" src="scripts/app.js"></script>
  </head>
  <body>
    <div id="content"></div>
  </body>
</html>